.card {
    max-width: 700px; /* Ajuster cette largeur selon vos besoins */
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 60vh; 
  }
 
  /* Stylisation spécifique pour l'image */
  .img-fluid {
    max-height: 100%; /* Ajuste la hauteur maximale de l'image */
    width: auto; /* Garde la largeur proportionnelle à l'image */
  }
  
  /* Stylisation pour le formulaire */
  .card-body {
    height: 100%; /* Assure que le corps de la carte prend 100% de la hauteur */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  